<div>
<mat-card>
  <h1>To-do list application</h1>
  <form>
    <mat-form-field>
      <mat-label>Nouvelle liste</mat-label>
      <input matInput id="title" type="text" [formControl]="title">
    </mat-form-field>
    <button mat-icon-button (click)="createList()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <mat-nav-list>
    <mat-list-item *ngFor="let list of lists">
      <a mat-line [routerLink]="['/list-details', list.id]"><span>{{ list.title }}</span></a>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
</div>
