<div class="container">
<mat-card class="row">
  <h1 class="col">Mes listes de taches</h1>
  <form class="col">
    <mat-form-field>
      <mat-label>Nouvelle liste</mat-label>
      <input matInput id="title" type="text" [formControl]="title">
      <mat-error *ngIf="title.hasError('required')">
        Attribuer un nom
      </mat-error>
    </mat-form-field>
    <button mat-icon-button (click)="createList()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <mat-nav-list class="col">
    <mat-list-item *ngFor="let list of lists">
      <a mat-line [routerLink]="['/list-details', list.id]"><span>{{ list.title }}</span></a>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
</div>
