<header>
  <h1>Mes listes de taches</h1>
  <mat-form-field>
    <input matInput placeholder="Nouvelle liste" id="title" type="text" [formControl]="title" #newlistinput>
    <mat-error *ngIf="title.hasError('required')">
      Attribuer un nom
    </mat-error>
  </mat-form-field>
  <button  [disabled]="newlistinput.value == ''" mat-raised-button color="primary" (click)="createList(); newlistinput.value = ''">
    <mat-icon>add</mat-icon>
  </button>
</header>

<mat-card *ngIf="lists.length > 0">
  <mat-nav-list >
    <mat-list-item *ngFor="let list of lists">
      <a mat-line [routerLink]="['/list-details', list.id]">{{ list.title }}</a>
      <button mat-mini-fab color="warn" aria-label="delete list" (click)="deleteList(list.id)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
