header {
  text-align: center;
}

mat-card {
  width: 90%;
  max-width: 500px;
  margin: 20px auto 0 auto;
}

mat-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

mat-list-item {
  display: flex;
}
.button-end {
  margin-left: auto;
}


